@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
}

body {
    background-color: rgb(237, 219, 199);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 245, 231);
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side > div {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(167, 114, 125);
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    padding: 100px;
    background-color: rgb(185, 243, 252);
}

.description {
    text-align: center;
    padding: 50px;
}

.game-image-description {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 138, 138);
}

.game-image-description > p {
    padding: 20px;
    font-size: 1.25rem;
}

.start {
    display: block;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.start:hover {
    background-color: rgb(87, 146, 58);
    color: white;
}

.two {
    background-color: rgb(241, 247, 181);
}

.three {
    background-color: rgb(168, 209, 209);
}

.four {
    background-color: rgb(158, 161, 212);
}

.end-description {
    margin-top: 20px;
}

.access-container {
    padding: 50px;
    margin-top: 80px;
}

label, a, input {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

input {
    width: 50%;
    padding: 10px 15px;
    margin-top: 10px;
}

#username-label, #password-label {
    margin-top: 15px;
}

#login-btn, #create-btn {
    text-align: center;
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 20px;
}

#login-error {
    text-align: center;
    margin-top: 15px;
    color: red;
}

#login-btn:hover, #create-btn:hover {
    background-color: rgb(167, 114, 125);
    color: white;
}

/* user.html */

#welcome-user {
    margin-top: 20px;
    text-align: center;
}

#welcome-text {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
    font-size: 20px;
    background-color: rgb(234, 224, 218);
}

.coins {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 10px;
}

#point-el {
    margin-top: 20px;
}

.items-title {
    text-align: center;
    margin-top: 20px;
}

.user-items {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
}

#disconnect-btn {
    display: block;
    padding: 10px 15px;
    width: 50%;
    margin: 50px auto;
}

/* about.html  */

.creator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}

.creator-info {
    text-align: center;
}

#my-selfie {
    margin-right: 50px;
}

.about-jocade {
    text-align: center;
}

.about-jocade > p {
    text-align: center;
    padding: 50px;
    background-color: rgb(253, 138, 138);
    margin: 50px;
    font-size: 20px;
}

/* games.html */

.game-intro {
    text-align: center;
    margin-top: 20px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(205, 215, 230);
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.game-item {
    width: 33%;
    height: 90%;
    padding: 50px;
    border: 1px solid black;
    margin: 20px;
}

.flappyjo {
    background-color: green;
}

/* marketplace.html */

#greeting {
    text-align: center;
    margin-top: 20px;
}

#jocoin {
    border: 1px solid black;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
}

.buy-box {
    border: 1px solid black;
    height: 400px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.buy-item {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    margin: 10px;
}

.item-cost {
    margin-top: 20px;
}

.rarity {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.common {
    background-color: rgb(236, 232, 221);
}

.uncommon {
    background-color: rgb(205, 233, 144);
}

.rare {
    background-color: rgb(114, 134, 211);
}

.mythic {
    background-color: rgb(255, 234, 32);
}

.item-name, .item-buy {
    margin-top: 20px;
}

.item-buy {
    width: 90%;
    padding: 5px 15px;
}

/* flappyjo.html */

#game-coin {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    width: 90%;
}

.flappy-jo-container {
    width: 90%;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
    overflow: hidden;
}

#block {
    width: 10%;
    height: 100%;
    background-color: black;
    position: relative;
    left: 90%;
    animation: block 2s infinite linear;
}

@keyframes block {
    0%{left:90%}
    100%{left: -10%}
}

#hole {
    width: 10%;
    height: 35%;
    background-color: rgb(237, 219, 199);
    position: relative;
    left: 90%;
    top: -40%;
    animation: block 2s infinite linear;
}

#character {
    width: 5%;
    height: 5%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 50%;
}

.flappy-jo-container > h1 {
    text-align: center;
    margin-top: 100px;
}

.flappy-jo-container > button {
    display: block;
    width: 50%;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: rgb(58, 152, 185);
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 20px;
}

#shop-title {
    margin-top: 50px;
}

.flappy-shop {
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.character-btn {
    text-align: center;
    width: 25%;
    height: 10%;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px;
}

.character-options, .obstacle-options, .background-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}