@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
}

body {
    background-color: rgb(237, 219, 199);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 245, 231);
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side > div {
    margin-right: 30px;
}

.nav-links {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(167, 114, 125);
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    padding: 100px;
    background-color: rgb(185, 243, 252);
}

.description {
    text-align: center;
    padding: 50px;
}

.description img {
    width: 25%;
    height: 25%;
    margin: 20px;
    border: 1px solid black;
}

.game-image-description {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 138, 138);
}

.game-image-description > p {
    padding: 20px;
    font-size: 1.25rem;
}

.start {
    display: block;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.start:hover {
    background-color: rgb(87, 146, 58);
    color: white;
}

.two {
    background-color: rgb(241, 247, 181);
}

.three {
    background-color: rgb(168, 209, 209);
}

.four {
    background-color: rgb(158, 161, 212);
}

.end-description {
    margin-top: 20px;
}

.access-container {
    padding: 50px;
    margin-top: 80px;
}

label, a, input {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

input {
    width: 50%;
    padding: 10px 15px;
    margin-top: 10px;
}

#username-label, #password-label {
    margin-top: 15px;
}

#login-btn, #create-btn {
    text-align: center;
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 20px;
}

#login-error {
    text-align: center;
    margin-top: 15px;
    color: red;
}

#login-btn:hover, #create-btn:hover {
    background-color: rgb(167, 114, 125);
    color: white;
}

/* user.html */

#welcome-user {
    margin-top: 20px;
    text-align: center;
}

#welcome-text {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
    font-size: 20px;
    background-color: rgb(234, 224, 218);
}

.coins {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 10px;
}

#point-el {
    margin-top: 20px;
}

.items-title {
    text-align: center;
    margin-top: 20px;
}

.user-items {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
}

#disconnect-btn {
    display: block;
    padding: 10px 15px;
    width: 50%;
    margin: 50px auto;
}

/* about.html  */

.creator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}

.creator-info {
    text-align: center;
}

#my-selfie {
    margin-right: 50px;
}

.about-jocade {
    text-align: center;
}

.about-jocade > p {
    text-align: center;
    padding: 50px;
    background-color: rgb(253, 138, 138);
    margin: 50px;
    font-size: 20px;
}

/* games.html */

.game-intro {
    text-align: center;
    margin-top: 20px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(205, 215, 230);
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.game-item {
    width: 33%;
    height: 90%;
    padding: 50px;
    border: 1px solid black;
    margin: 20px;
}

.flappyjo, .endlessjo {
    background-color: white;
    text-align: center;
}

/* flappyjo.html */

#game-coin {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    width: 90%;
}

.flappy-jo-container, .endlessjo-container {
    width: 90%;
    background-color: rgb(241, 247, 181);
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

#game-score {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(241, 247, 181);
    font-size: 20px;
    visibility: hidden;
}

#return-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.flappy-jo-container > h1 {
    text-align: center;
    margin-top: 100px;
}

.flappy-jo-container > button {
    display: block;
    width: 50%;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: rgb(58, 152, 185);
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 20px;
}

.endlessjo-container > h1 {
    text-align: center;
    margin-top: 100px;
}

.endlessjo-container > button {
    display: block;
    width: 50%;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: rgb(58, 152, 185);
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 20px;
}

#menu-title {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(168, 209, 209);
}

.flappy-shop {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
}

.game-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-btn {
    text-align: center;
    width: 25%;
    height: 10%;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px;
}

#obstacle {
    width: 10%;
    height: 100%;
    background-color: black;
    position: relative;
    left: 100%;
    animation: obstacle 2000ms infinite linear;
}

@keyframes obstacle {
    0% {
        left: 90%;
    }
    100% {
        left: -10%;
    }
}

#gap {
    width: 10%;
    height: 30%;
    background-color: rgb(241, 247, 181);
    position: relative;
    left: 100%;
    top: -40%;
    animation: obstacle 2000ms infinite linear;
}

#player {
    width: 5%;
    height: 5%;
    background-color: coral;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 2%;
}

#earned-points {
    text-align: center;
    margin-top: 50px;
}

#pricing-info, #pricing-error {
    text-align: center;
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
}

.selection-types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: auto;
}

#player-selection, #obstacle-selection, #background-selection {
    border: 1px solid black;
    width: 90%;
    margin: 20px auto;
}